<% for(let i = 0; i < tasks.length; ++i)  { %> 

    <section class="task-card" id="<%=tasks[i]._id%>">

        <section class="task-header">

            <div class="task-header-colorlead"></div>
            <h1><%= tasks[i].name %></h1>

        </section>

        <section class="task-description">
            <p class="task-description-content"><%= tasks[i].description %></p>
        </section>

        <section class="task-time">

            <section class="task-start">
                <span><%=task[i].startDate%></span>
                <span><%= tasks[i].startTime %></span>
            </section>

            <section class="task-time-delimiter">
                <!--En dash (long -)-->
                <span>&#8211;</span>
            </section>

            <section class="task-end">
                <span><%=tasks[i].endDate%></span>
                <span><%=tasks[i].endTime %></span>
            </section>

        </section>

        <section class="task-complete">
            <button type="button">Mark as Complete</button>
        </section>

        <section class="task-settings">
            <img src="assets/settings-svgrepo-com.svg" alt="Settings button">

            <section class="hidden">

                <section class="task-settings-container">

                    <section class="task-settings-options">
                        <button>Edit Task</button>
                        <button>Delete Task</button>
                    </section>

                    <section class="task-edit">
                        
                        <form>

                            

                        </form>

                    </section>

                </section>

            </section>
        </section>

    </section>

<% } %>